<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>атлет</string>
    <key>CFBundleVersion</key>
    <string>1.1</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Это приложение требует доступа к вашей фотобиблиотеке, чтобы вы могли загружать и делиться вашими фотографиями.</string>
</dict>
</plist>
